@CHARSET "ISO-8859-1";

.row {
	margin-top: 10px;
}

th {
	background-color: lightgray;
}

.form-control {
	margin: 5px;
}

input[type="submit"]{
	background-color: ghostwhite;
}

form.form-inline input[type="color"] {
	height: 30px;
	vertical-align: middle;
} 

h1 {
	color: darkblue;
}
